# Ignore environment files
.env

# Ignore node modules
node_modules/

# Ignore build folders
/build
/dist

# Ignore log files
*.log

# Ignore photos and image folders
public/images/logo/
public/images/project_img/
public/images/protfolio/

public/contact.
public/aman.jpg
public/aman_resume.pdf
